# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db